/**
* Accordeon
*/
details {
    /*fermé et ouvert*/
    position: relative;
    min-width: 100px;
    transition: all 0.3s;
    display: block;
}

details[open] {
    transition-duration: 0.3s;
    display: block;
    width: 100%;
}

.accordeon {
    display: grid;
    width: 150px;
    gap: 10px;
}

details>summary {
    list-style: none;
}

details>div {
    padding-left: 130px;
    width: 170px;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary + * {
    list-style: none;
}

.arrow{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid rgb(175, 175, 175);
}

